version: '3.8'
services:
  order-service:
    build:
      context: ../orders-service
      dockerfile: Dockerfile
    ports:
      - "8100:8100"
    environment:
      - PRODUCT_SERVICE_URL=http://product-service:8200
      - LOYALTY_SERVICE_URL=http://loyalty-service:8300
      - PORT=8100
  
  product-service:
    build:
      context: ../product-service
      dockerfile: Dockerfile
    ports:
      - "8200:8200"
    environment:
      - PORT=8200
  
  loyalty-service:
    build:
      context: ../loyalty-service
      dockerfile: Dockerfile
    ports:
      - "8300:8300"
    environment:
      - PORT=8300
      - ORDER_SERVICE_URL=http://order-service:8100
      - USER_SERVICE_URL=http://user-service:8400
  
  user-service:
    build:
      context: ../user-service
      dockerfile: Dockerfile
    ports:
      - "8400:8400"
    environment:
      - PORT=8400
      - NODE_ENV=development
